.videosContainer {
  display: flex;
  justify-content: space-between;
  min-height: $bodyHeight;
  overflow: auto;
  width: $bodyWidth;
  margin-left: auto;
  background: $whiteCream;
}

.videosContent {
  width: $videoContainerWidth;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.videoCard {
  width: $videoCardWidth;
  padding: 0 10px;
  img {
    width: 100%;
    height: 200px;
  }
}

.videoTopInfos {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  height: 30px;
  transform: translateY(35px);
  padding: 0 5px;
  p {
    height: 15px;
    color: $white;
    font-size: $fontSize-1;
    align-self: flex-start;
  }
  .stats {
    display: flex;
    align-items: flex-start;
    height: 20px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    &:hover:after {
      // Tooltip when hovering stream title
      content: attr(data-text);
      text-overflow: inherit;
      background: $white;
      position: absolute;
      display: block;
      color: $white;
      padding: 0 5px;      
      margin-top: 20px;
      font-size: $fontSize-1;
      background-color: rgba(0, 0, 0, 0.6);
      border-radius: 5px;     
    }
    svg {
      width: 20px;
      height: 15px;
      fill: $white;
    }
  }
}

.videoBottomInfos {
  display: flex;
  flex-direction: column;
  p:first-child {
    color: $blackLight;
  }
  p:nth-child(2) {
    font-size: $fontSize-1;
    color: $greyDark;
  }
}