.videosContainer {
  border: 1px solid red;
  display: flex;
  height: calc(100vh - 50px);
  overflow: auto;
  width: calc(100vw - 540px); // 580px = leftMenu width + chat width  
  margin: auto;  
}

.videosContent {
  border: 1px solid green;
  width: 100%;
}