.loading {
  height: $bodyHeight;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  padding: 5px 0;
  background-color: $whiteCream;
  @include xs {
    padding: 0;
  }
}

.gameCard {
  width: $gameCardWidth;
  height: $gameCardHeight;
  padding: 0 10px;
  img {
    width: $gameCardImageWidth;
    height: $gameCardImageHeight;
  }

  a {
    color: $blackLight;  
    margin-top: 5px;
    &:hover {
      color: $violetLight;
      text-decoration: none;
    }
  }
  p {
    font-size: $fontSize-2;
    text-overflow: ellipsis;
    overflow: hidden;    
    white-space: nowrap;
    text-align: left;
  }
  @include xs {
    padding: .66vw;
    width: 48vw;
    max-width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      transform: translate(10px, -35px);
      color: $whiteCream;
      font-size: $fontSize-2;
      width: 40vw;
      padding: 0 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.6);
    }
  }
  @include sm {
    padding: .4vw;
    width: 24vw;
    max-width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      transform: translate(10px, -35px);
      color: $whiteCream;
      font-size: $fontSize-2;
      width: 20vw;
      padding: 0 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.6);
    }
  }

  @include md {
    padding: .4vw;
    width: 24vw;
    max-width: 100%;
    height: auto;
    img {
      width: 100%;
      height: 100%;
    }
    p {
      transform: translate(10px, -35px);
      color: $whiteCream;
      font-size: $fontSize-2;
      width: 20vw;
      padding: 0 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}
