.loading {
  height: $bodyHeight;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  padding: 20px 0;
  background-color: $whiteCream;
}

.gameCard {
  width: $gameCardWidth;
  height: $gameCardHeight;
  padding: 0 10px;
  img {
    width: $gameCardImageWidth;
    height: $gameCardImageHeight;
  }
  a, p {
    color: $blackLight;  
    margin-top: 5px;
    font-size: $fontSize-2;
    text-overflow: ellipsis;
    overflow: hidden;    
    white-space: nowrap;
    text-align: left;
    &:hover {
      color: $violetLight;
      text-decoration: none;
    }
  }
}
