.channelHeader {
  display: flex;
  align-items: center;
  border-bottom: $channelHeaderBorder;
  margin-bottom: 20px;
  height: $channelHeaderHeight;
  background-color: $white;
  & div {
    border-right: $channelHeaderBorder;
    display: flex;
    align-items: center;
    height: 80%;
    padding: 5px 10px;
  }
  h5 {
    color: $blackLight;
    font-size: $fontSize-2;
  }
  h6 {
    color: $greyLight;
    text-decoration: line-through;
  }
  @include xs {
    display: none;
  }
}

.userInfos {
  display: flex;
  align-items: center;
  img {
    height: 36px;
    width: 36px;
    margin-left: 10px;
  }
}

.followers {
  h5:nth-child(2) {
    margin-left: 10px;
    color: $greyDark;
  }
}