.streamInfosContainer {
  margin: 0 30px;
  margin-bottom: 20px;
  overflow: hidden;
}

.streamInfos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: $channelHeaderBorder;
  background-color: $white;
  height: $streamInfosHeight;
  .gameInfos {
    display: flex;
    text-align: left;
    width: 100%;
    padding-top: 10px;
    .textInfos {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: $textInfosWidth;
      h4 {
        font-size: $fontSize-3;
        text-overflow: ellipsis;
        overflow: hidden;    
        white-space: nowrap;
        &:hover:after {
          // Tooltip when hovering stream title
          content: attr(data-text);
          overflow: visible;
          text-overflow: inherit;
          background: $white;
          position: absolute;
          width: auto;
          max-width: 40rem;
          border: 1px solid $blackLight;
          padding: 0 .5rem;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,.28);
          white-space: normal;
          word-wrap: break-word;
          display: block;
          color:$black;
          padding: 2px;
          line-height: 15px;
          margin-top: 5px;
          font-size: $fontSize-1;
        }
      }
    }
    img {
      width: $gameInfosImageWidth;
      height: $gameInfosImageHeight;
      margin: 0 10px;
    }
    a, p {
      color: $violetLight;
      font-size: $fontSize-2;
      margin-bottom: 10px; 
      max-height: 25px;     
      &:hover {
        text-decoration: underline;
      }
    }
    .gameTitle {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;      
      svg {
        fill: $greyDark;
        margin-right: 5px;
      }
    }
  }
}

.streamerInfos {
  display: flex;
  align-self: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0 10px;
  margin-bottom: 10px;
  p {
    margin: 0 5px;
    font-size: $fontSize-2;
  }
  .viewerCount {
    display: flex;
    align-items: center;
    color: $red;
    svg {
      color: $red;
      fill: $red;
    }
  }
  .userViewCount {
    display: flex;
    align-items: center;
    color: $greyDark; 
    svg {
      fill: $greyDark;
    }     
  }
  .userButtons {
    button {
      margin: 0 10px;
      font-size: $fontSize-1;
      padding: 4px 8px;
      background: none;
      border: 1px solid $violetLight;
      color: $violetLight;
      &:hover {
        cursor: pointer;
        border: 1px solid $violetDark;
        color: $violetDark;
      }
    }
  }
}