.channelHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dad8de;
  margin-bottom: 20px;
  height: 50px;
  & div {
    border-right: 1px solid #dad8de;
    display: flex;
    align-items: center;
    height: 80%;
    padding: 5px 10px;
  }
  h5 {
    color: #19171c;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }
}

.userInfos {
  display: flex;
  align-items: center;
  img {
    height: 36px;
    width: 36px;
    margin-left: 10px;
  }
}

.followers {
  h5:nth-child(2) {
    margin-left: 10px;
    color: #6e6779;
  }
}