
.liveStreamContainer {
  display: flex;
  overflow: auto;
  min-height: calc(100vh - 50px);
}

.videoContainer {
  height: 100%;
  width: calc(100vw - 580px); // 580px = leftMenu width + chat width
  background-color: #faf9fa;
}

.videoPlayer {
  height: 500px;
  width: 100%;
  padding: 0 20px;
  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

.streamInfos {
  display: flex;
  align-items: center;  
  margin: 0 20px;
  border: 1px solid rgb(218, 216, 222);
  .gameInfos {
    display: flex;
    white-space: nowrap;
    text-align: left;
    width: 50%;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;    
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    img {
      width: 40px;
      height: 55px;
      margin: 0 10px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      color: #6441a4;
      font-size: 14px;
      &:hover {
        text-decoration: underline #6441a4 !important;
      }
    }
    .gameTitle {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;      
      svg {
        color: #6e6779;
        fill: #6e6779;
        margin-right: 5px;
      }
    }
  }
  
  .streamerInfos {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    width: 50%;
    p {
      margin: 0 5px;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .viewerCount {
      display: flex;
      align-items: center;
      color: #ec1313;
      svg {
        color: #ec1313;
        fill: #ec1313;
      }
    }
    .userViewCount {
      display: flex;
      align-items: center;
      color: #6e6779; 
      svg {
        color: #6e6779;
        fill: #6e6779;
      }     
    }
    .userButtons {
      button {
        margin: 0 10px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        padding: 4px 8px;
        background: none;
        border: 1px solid #6441a4;
        color: #6441a4;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

.chat {
  height: calc(100vh - 50px);
  position: absolute;
  right: 0;
  overflow: hidden;
  iframe {
    height: calc(100vh - 50px);
    width: 340px;
    border: none;
    border-left: 1px solid #dad8de;
  }
}