
.liveStreamContainer {
  display: flex;
  overflow: auto;
  height: 93vh;
}

.videoPlayer {
  padding: 15px 30px;  
  iframe {
    width: 800px;
    height: 450px;
  }
}

.chat {
  width: 23%;
  height: 93vh;
  position: absolute;
  right: 0;
  overflow: hidden;
  iframe {
    height: 93vh;
    width: 340px;
  }
}