  .headerContent {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: $headerHeight;
    div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    img {
      width: $headerImageWidth;
      height: $headerImageHeight;
      border: $headerImageBorder;
      margin: 10px;
    }
    h2 {
      color: $whiteCream;
      font-size: $fontSize-4;
    }
    @include xs {
      display: none;
    }
  }
