.rightContent {
  width: $bodyWidth;
  height: $bodyHeight;
  margin-left: auto;
  display: flex;
  @include xs {
    width: 100%;
  }
  @include sm {
    width: 100%;
  }
  @include md {
    width: 100%;
  }
}

.streamsFirstContainer {
  height: 100%;
  width: 100%;
  background-color: $whiteCream;
}

.streamsSecondContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.streamsThirdContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .streamsTitle {
    display: none;
    color: $greyDark;
    text-align: left;
    font-size: $fontSize-2;
    width: 90%;
    margin: 10px auto;
  }
  &:first-child h4 {
    display: block;
  }
}

.streamCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $streamCardWidth;
  max-height: 100%;
  text-align: left;
  padding: 5px 10px;
  img {
    width: 100%;
  }
  a, h3 {
    color: $blackLight;
    &:hover {
      text-decoration: none;
      color: $violetLight;
    }
    h3 {
      margin-top: 0.5rem;
      font-size: $fontSize-2;
      text-overflow: ellipsis;
      overflow: hidden;    
      white-space: nowrap;
    }
  }
  a, p {
    color: $greyDark;
    font-size: $fontSize-1;
    text-overflow: ellipsis;
    overflow: hidden;    
    white-space: nowrap;
    margin: 0;
    &a:hover {
      color: $violetLight;
    }
  }
  @include xs {
    width: 96vw;
    padding: 1vw;
  }
}
