.rightContent {
  width: calc(100% - 240px);
  height: calc(100vh - 50px);
  margin-left: auto;
  display: flex;
}

.streamsFirstContainer {
  height: 100%;
  width: 100%;
  background-color: #faf9fa;
}

.streamsSecondContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.streamsThirdContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .streamsTitle {
    display: none;
    color: #6e6779;
    text-align: left;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin: 10px auto;
  }
  &:first-child h4 {
    display: block;
  }
}

.streamCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 340px;
  max-height: 100%;
  font-family: Arial, Helvetica, sans-serif;  
  text-align: left;
  padding: 5px 10px;
  img {
    width: 100%;
  }
  a, h3 {
    color: #19171c;
    &:hover {
      text-decoration: none;
      color: #6441a4;
    }
    h3 {
      margin-top: 0.5rem;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;    
      white-space: nowrap;
    }
  }
  a, p {
    color: #6e6779;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;    
    white-space: nowrap;
    margin: 0;
    &a:hover {
      color: #6441a4;
    }
  }
}
