// Colors

$white:#fff;
$whiteCream: #faf9fa;

$greySuperLight: #dad8de;
$greyLight: #d3cae8;
$greyDark: #6e6779;

$red: #ec1313;

$violetLight: #6441a4;
$violetDark: #4b367c;
$violetSuperDark: #17141f;

$blackLight: #19171c;
$black: #000;