.home {
  height: $bodyHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $bodyWidth;
  margin-left: auto;
  @include xs {
    padding: 0 20px;
    width: 100%;
    h4 {
      font-size: $fontSize-3;
    }
  }
}