body {
  padding-top: 50px;
  font-family: $baseFontFamily;  
}

.content {
  display: flex;
  align-items: baseline;
}

.navbar {
  background-color: $violetDark;
  height: $navHeight;
  display: flex; 
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    width: 220px;
    @include xs {
      width: 100vw;
      text-align: left;
      padding: 0;
    }
  }
  a {
    color: $greyLight;
    font-size: $fontSize-2;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
  svg {
    fill: $white;
  }
}

