body {
  padding-top: 50px;
  font-family: $baseFontFamily;  
}

.content {
  display: flex;
  align-items: baseline;
}

.navbar {
  background-color: $violetDark;
  height: $navHeight;
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    div {
      display: flex;
      justify-content: space-between;
    }
    @include xs {
      justify-content: space-between;
    }
    @include sm {
      justify-content: space-between;
    }
  }
  a {
    color: $greyLight;
    font-size: $fontSize-2;
    margin-right: 20px;
    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }
  svg {
    fill: $white;
  }
  @include xs {
    .shopLink a {
      display: none;
    }
    .desktopAppLink a {
      display: none;
    }
  }
  @include sm {
    .desktopAppLink a {
      display: none;
    }
  }
  @include md {
    .desktopAppLink a {
      display: none;
    }
  }
}

